<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="post">
        <label for="student-name">Student Name</label>
        <input type="text" placeholder="Enter Name" required id="student-name"><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="post">
        <label for="student-name">Student Name</label>
        <input type="text" placeholder="Enter Name" required id="student-name">
        <label for="student-email">Student Email</label>
        <input type="email" placeholder="Enter Email" required id="student-email">
        <label for="student-mobile">Student Mobile</label>
        <input type="text" placeholder="Enter Mobile" required id="student-mobile">
    </form>
</body>
</html>
        <label for="student-email">Student Email</label>
        <input type="email" placeholder="Enter Email" required id="student-email">
        <label for="student-mobile">Student Mobile</label>
        <input type="text" placeholder="Enter Mobile" required id="student-mobile">
    </form>
</body>
</html>